/* body{
    padding: 0px;
    margin: 0px;
}

.main-div{
    display: flex;
    width: 100%;
}
.left-nav{
    width: 16%;
    background-color: #c0c0c0;
    color:#333;
    font-size:24px;
    height: 1000px;
    padding: 20px;
}
.right-main{
    width: 84%;
    height:1000px;
    background-color: #fff;
    font-size:20px;
} */
